<div class="login-container" @fadeInOut>
  <h2 class="title">Login</h2>
  <form [formGroup]="loginForm" class="form-container" (ngSubmit)="onSubmit()">

    <!-- Email or Username -->
    <div class="form-field" @fadeInOut>
      <tui-input formControlName="userNameOrEmail" size="l" >Email or Username
        <input
          autocomplete="email"
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="text"
        />
      </tui-input>
    </div>

    <!-- Password -->
    <div class="form-field" @fadeInOut>
      <tui-input formControlName="password" size="l" >Password
        <input
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="password"
        />
      </tui-input>
    </div>
    <!-- Forgot Password -->
    <div class="forgot-password-container">
      <a class="forgot-password" href="#">Forgot Password?</a>
    </div>

    <!-- Login Button -->
    <div class="form-actions">
      <button tuiButton size="l" type="submit" appearance="primary" class="login-button" @fadeInOut>
        Login
      </button>
    </div>
  </form>
</div>
