<nz-card nzTitle="Forgot Password" class="forgot-card">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8">
          <nz-form-label> Email: </nz-form-label>
        </div>
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-control>
              <input
                nz-input
                placeholder="Nhập Email"
                [(ngModel)]="email"
                name="email"
                type="email"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
  
      <div nz-row>
        <div nz-col nzSpan="12" >
            <button class="btn btn-secondary" >Hủy</button>
          </div>
        <div nz-col nzSpan="12" >
            <button class="btn btn-primary" (click)="onForgotPassword()">Tìm kiếm</button>
        </div>
       
      </div>

  </nz-card>
  