<div class="register-container" @fadeInOut>
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Avatar -->
    <div class="profile-picture text-center">
      <img class="avatar"
        alt="Profile Picture"
        [src]="selectedFile?.src ? selectedFile?.src : 'http://localhost:5000/avatar/avatar.png' "
      />
      <button class="btn btn-outline-primary mt-2" type="button" (click)="fileInput.click()">Chọn Avatar</button>
      <input #fileInput type="file" id="fileInput" (change)="onFileSelected($event)" multiple style="display: none;" />
    </div>
    <!-- FullName -->
    <div class="form-field">
      <tui-input formControlName="fullName" size="l">Full Name
        <input
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="text"
        />
      </tui-input>
    </div>
    <!-- Email -->
    <div class="form-field">
      <tui-input formControlName="email" size="l">Email
        <input
          autocomplete="email"
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="email"
        />
      </tui-input>
    </div>

    <!-- Username -->
    <div class="form-field" @fadeInOut>
      <tui-input formControlName="userName" size="l">Username
        <input
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="text"
        />
      </tui-input>
    </div>
    <div class="form-field" @fadeInOut>
      <tui-combo-box formControlName="gender" [(ngModel)]="registerForm.value.gender">
        <input placeholder="Select gender" tuiTextfieldLegacy />
        <tui-data-list-wrapper *tuiDataList [items]="genderOptions">
          <div *ngFor="let gender of genderOptions">{{gender}}</div>
        </tui-data-list-wrapper>
      </tui-combo-box>
    </div>

    <!-- Password -->
    <div class="form-field" @fadeInOut>
      <tui-input formControlName="password" size="l">Password
        <input
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="password"
        />
      </tui-input>
    </div>

    <!-- Confirm Password -->
    <div class="form-field" @fadeInOut>
      <tui-input formControlName="confirmPassword"  size="l">Confirm Password
        <input
          translate="no"
          tuiTextfieldSize="l"
          tuiTextfieldLegacy
          type="password"
        />
      </tui-input>
    </div>

    <!-- Register Button -->
    <button tuiButton size="l" type="submit" appearance="primary" @fadeInOut>
      Register
    </button>
  </form>
</div>
