<div class="chat-list border-end">
  <!-- Search và nút thêm bạn/nhóm -->
  <div class="p-3 row align-items-center chat-header">
    <div class="col-9">
      <nz-input-group [nzSuffix]="suffixIconSearch" class="search-input">
        <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" nz-input placeholder="Search user or group..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <nz-icon nzType="search" />
      </ng-template>
      <ng-template #searchIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <button nz-button nzType="default" nzShape="circle" class="action-button" (click)="showAddFriendModal()">
        <nz-modal [(nzVisible)]="isFriendVisible" nzTitle="Thêm bạn" (nzOnCancel)="handleCancel()"
          [nzFooter]="customFooter">
          <ng-container *nzModalContent>
            <input nz-input [autofocus]="true" [nzSize]="'default'" (ngModelChange)="onSearchUserChange()" placeholder="Nhập tên hoặc email"
              [(ngModel)]="name" />

              <div class="users">
                <h4>Danh sách người dùng</h4>
                <div *ngFor="let user of displayedUsers" class="user-item d-flex align-items-center">
                  <img [src]="user.profilePictureUrl" class="rounded-circle user-avatar me-2" alt="Avatar" />
                  <span class="user-name flex-grow-1">{{ user.fullName }}</span>
              
                  <button *ngIf="getFriendShipStatus(user.id) == 0" nz-button nzType="primary" class="add-btn"
                  (click)="addFriend(user.id)">
                  Thêm
                </button>

                <!-- Nút "Hủy" và "Đã gửi yêu cầu" (khi đã gửi yêu cầu) -->
                <div *ngIf="getFriendShipStatus(user.id) == 1" class="d-flex align-items-center">
                  <span class="ms-2 text-muted">Đã gửi yêu cầu</span>
                  <button nz-button nzType="default" class="btn btn-danger" (click)="cancelFriendRequest(user.id)">
                    Hủy
                  </button>

                </div>
              
                  <!-- Nút X để ẩn user hiện tại -->
                  <i class="bi bi-x-circle-fill remove-icon text-danger ms-2" (click)="removeUser(user.id)"></i>
                </div>
              </div>
              

          </ng-container>
        </nz-modal>
        <nz-icon nzType="user-add" nzTheme="outline" />
      </button>
      <ng-template #customFooter>
        <button nz-button nzType="default" class="btn btn-primary" (click)="handleCancel()">Đóng</button>
      </ng-template>
      <button nz-button nzType="default" nzShape="circle" class="action-button" (click)="showAddGroupModal()">
        <nz-modal [(nzVisible)]="isGroupVisible" nzTitle="Tạo nhóm" (nzOnCancel)="handleCancel()"
          [nzFooter]="customFooter">
          <ng-container *nzModalContent>
            <div class="create-group">
              <form [formGroup]="groupForm" >
                <div class="group-header">
                
                    <div class="avatar-container">
                      <img [src]="previewImage || 'https://res.cloudinary.com/dlhwuvhhp/image/upload/v1744597274/user-07-512_hknxaa.webp'" class="avatar" alt="Avatar">
                      <label class="edit-avatar">
                        <nz-icon nzType="camera" nzTheme="outline"></nz-icon>
                        <input
                          id="profilePicture"
                          type="file"
                          (change)="onFileSelected($event)"
                          accept="image/*"
                          style="display: none;"
                         
                        />
                      </label>
                    </div>
                   

                  <nz-input-group class="group-name border-bottom-only">
                    <input nz-input formControlName="name" placeholder="Nhập tên nhóm" />
                  </nz-input-group>
                </div>

                <div class="group-content">
                  <div class="group-search">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                      <input nz-input [(ngModel)]="name"  (ngModelChange)="onSearchUserChange()" [ngModelOptions]="{standalone: true}"
                        placeholder="Tìm kiếm" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                      <i nz-icon nzType="search"></i>
                    </ng-template>
                  </div>

                  <div class="group-main">
                    <div class="group-users">
                      <h4>Danh sách người dùng</h4>
                      <div *ngFor="let user of filteredUsers" class="user-item">
                        <label nz-checkbox [(ngModel)]="user.isSelected" [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="toggleUser(user)">
                          <img [src]="user.profilePictureUrl" class="rounded-circle me-3 user-avatar" alt="Avatar"
                            width="40" height="40" />
                          <span class="user-name">{{ user.fullName }}</span>
                        </label>
                      </div>
                    </div>

                    <div class="group-selected" *ngIf="selectedUsers.length > 0">
                      <h4>Đã chọn</h4>
                      <ul>
                        <li *ngFor="let user of selectedUsers">
                          <img [src]="user.profilePictureUrl" class="rounded-circle me-3 selected-avatar" alt="Avatar"
                            width="25" height="25" />
                          {{ user.fullName }}

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <button nz-button class="create-btn" type="button" (click)="addGroup()">
                  Tạo nhóm
                </button>
              </form>
            </div>

          </ng-container>
        </nz-modal>
        <nz-icon nzType="usergroup-add" nzTheme="outline" />
      </button>
    </div>
  </div>

  <nz-tabset [(nzSelectedIndex)]="selectedTabIndex" style="overflow-y: auto; height: calc(100vh - 200px);">
    <nz-tab nzTitle="Tất cả">
      <!-- Danh sách người dùng và phòng chat -->
      <ul class="list-group list-group-flush chat-list-items" >
        <!-- Danh sách người dùng -->
        <li *ngFor="let user of filteredFriendsList" class="list-group-item d-flex align-items-center py-3 px-4 chat-user-item"
          [class.unread]="user.hasNewMessage"
          (click)="selectUser(user)">
          <nz-avatar [nzSrc]="user.profilePictureUrl" nzSize="large" class="user-avatar" [class.online]="user.isOnline"
            [class.offline]="!user.isOnline"></nz-avatar>

          <div class="d-flex flex-column">
            <div class="user-name">{{ user.fullName }}</div>
            <small class="last-message">{{user.lastMessage}}</small>
          </div>
        </li>

        <!-- Danh sách phòng chat -->
        <li *ngFor="let group of filteredGroups" class="list-group-item d-flex align-items-center py-3 px-4 "
          (click)="selectGroup(group)">
          <nz-avatar-group>
            <nz-avatar [nzSrc]="group.avatarUrl" nzSize="large" class="user-avatar"></nz-avatar>
          </nz-avatar-group>
          


          <div class="d-flex flex-column">
            <div class="group-name">{{ group.name }}</div>
            <small class="last-message">{{group.lastMessage}}</small>
          </div>
        </li>
      </ul>
    </nz-tab>
   

      <nz-tab [nzTitle]="tabTemplate">
        <ng-template #tabTemplate>
          <nz-select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)">
            <nz-option *ngFor="let option of categoryOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </nz-select>
        </ng-template>
        <li *ngFor="let user of filteredFriendsList" class="list-group-item d-flex align-items-center py-3 px-4 chat-user-item"
          (click)="selectUser(user)">
          <nz-avatar [nzSrc]="user.profilePictureUrl" nzSize="large" class="user-avatar" [class.online]="user.isOnline"
            [class.offline]="!user.isOnline"></nz-avatar>

          <div class="d-flex flex-column">
            <div class="user-name">{{ user.fullName }}</div>
            <small class="last-message">{{user.lastMessage}}</small>
          </div>
        </li>
      </nz-tab>
 
  </nz-tabset>

</div>

<!-- <app-add-friend></app-add-friend>
  <app-add-group></app-add-group> -->