<div class="d-flex" style="height: 80vh">
    <div class="chat-box h-100 col-8 flex-column d-flex"
        [ngClass]="{ 'col-8' : isVisible, 'col-12' : !isVisible}">
      <!-- Chat Header -->
      <div class="chat-header p-3 d-flex justify-content-between align-items-center shadow-sm">
        @if(selectedUser){
          <div>
            <nz-avatar [nzSrc]="selectedUser.profilePictureUrl" nzSize="large" class="me-2"></nz-avatar>
            {{ selectedUser.fullName }}
          </div>
        }@else if (selectedGroup) {
          <div>
            <nz-avatar nzIcon="user" nzSize="large" class="me-2"></nz-avatar>
            {{ selectedGroup.name }}
          </div>
        }@else {
          <div class="text-muted">
            <p>Please select a user to start chatting.</p>
          </div>
        }
  
        <div>
          
          <button nz-button nzType="default" nzShape="circle" (click)="toggleVideoCall()">
            <i nz-icon nzType="video-camera"></i>
          </button>
          <button nz-button nzType="default" nzShape="circle" (click)="toggleSearch()">
            <i nz-icon nzType="search"></i>
          </button>
          <button nz-button nzType="default" nzShape="circle" (click)="toggleChatDetail()">
            <i nz-icon nzType="unordered-list"></i>
          </button>
         
        </div>
      </div>
      <input *ngIf="isSearching" type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchText" 
      (ngModelChange)="onSearchChange()" #searchBox (blur)="hideSearch()" />
  
      <!-- Chat Messages -->
      <div class="chat-messages flex-grow-1 p-3 overflow-auto" #messageContainer (scroll)="onScroll()">
        
        <div *ngIf="messages.length === 0" class="text-center text-muted">
          <nz-icon nzType="message" nzTheme="outline" style="font-size: 24px;"></nz-icon>
          <p>No messages yet</p>
        </div>
        <div *ngFor="let message of messages" class="mb-3">
          <div [class]="message.senderId === currentUser.id ? 'text-end' : 'text-start'">
            <nz-avatar
              *ngIf="selectedUser && message.senderId !== currentUser.id; else group"
              [nzSrc]="selectedUser.profilePictureUrl"
              nzSize="small"
              class="me-2"
            ></nz-avatar>
            <ng-template #group>
              <nz-avatar *ngIf="selectedGroup && message.senderId !== currentUser.id"
                 [nzSrc]="avatars[message.senderId]" nzSize="small" class="me-2">
              </nz-avatar>
            </ng-template>
  
            <div class="p-2 bg-light rounded-3 d-inline-block max-w-75">
              <div class="text" *ngIf="message.content !== null">{{ message.content }}</div>
             
              <div class="file-content" *ngFor="let file of message.files">
                <img *ngIf="isImage(message)" [src]="file.url" class="message-media" />
                <video *ngIf="isVideo(message)" [src]="file.url" controls class="message-media"></video>
                <audio *ngIf="isAudio(message)" [src]="file.url" controls class="message-media"></audio>
              </div>
              
            </div>
            <div>
              <i class="bi bi-emoji-smile"></i>
              <i class="bi bi-three-dots-vertical" (click)="updateMessage(message)"></i>
              <i class="bi bi-reply-fill" (click)="deleteMessage(message.id)"></i>
            </div>
          </div>
        </div>
      </div>


  
      <!-- Chat Input -->
       
      <div class="image-container" *ngIf="selectedFiles.length > 0">
        <div *ngFor="let image of selectedFiles; let i = index" class="image-preview">
          <img [src]="image.src" alt="Image Preview" />
          <button class="close-button" (click)="removeImage(i)">X</button>
        </div>
        <div class="plus">
          <label for="fileInputPlus">
            <i nz-icon nzType="plus"></i>
            <input type="file" id="fileInputPlus" (change)="onFileSelected($event)" multiple style="display: none;" />
          </label>
        </div>
      </div>
      <div class="chat-input p-3 d-flex align-items-center border-top">
        
        <div *ngIf="isRecording" class="recording-indicator">
            <nz-spin nzSimple></nz-spin> Recording...
        </div>
    
        <div *ngIf="audioUrl">
            <audio [src]="audioUrl" controls></audio>
            <button nz-button nzType="danger" (click)="audioUrl = null">X</button>
        </div>
      </div>
      <div *ngIf="isEditing" class="text-warning">
          Đang chỉnh sửa tin nhắn...
          <button class="close-button" (click)="isEditing = false">X</button>

      </div>
      <div class="chat-input p-3 d-flex align-items-center border-top" *ngIf="selectedUser || selectedGroup">
        <div> 
          <button nz-button nzType="default" nzShape="circle" (mousedown)="startRecording()" (mouseup)="stopRecording()">
            <i nz-icon nzType="audio"></i>
          </button>
        </div>
       
        <div class="plus" nz-button nzType="default" nzShape="circle">
            <label for="fileInputPlus" >
               
                <i nz-icon nzType="picture"></i>
         
              <input type="file" id="fileInputPlus" (change)="onFileSelected($event)" multiple style="display: none;" />
            </label>
          </div>
          
        
        <input
          nz-input
          type="text"
          placeholder="Type a message..."
          [(ngModel)]="newMessage"
          class="form-control me-2"
          (keydown.enter)="sendMessage()"
        />
  
        <!-- Nút gửi tin nhắn -->
         
        <button nz-button nzType="primary" [disabled]="isEditing && newMessage === originalMessage" (click)="sendMessage()" class="ms-2">
          <i nz-icon nzType="send"></i>
        </button>
      </div>
    </div>
  
    <!-- Chat Detail -->
    <div class="col-4 flex-column d-flex"
      [ngClass]="{ 'd-none': !isVisible, 'col-4': isVisible }">
      <div class="text-center">
        <h3>Thông tin hội thoại</h3>
        <nz-avatar [nzSrc]="selectedUser?.profilePictureUrl" nzSize="large" class="mb-2"></nz-avatar>
        <h5>{{ selectedUser?.fullName }}</h5>
      </div>
      <hr />
      <h6>Shared Files</h6>
      <ul>
        <li *ngFor="let file of selectedUser?.files">{{ file }}</li>
      </ul>
      <div *ngIf="selectedGroup">
        <h6>Members</h6>
        <ul>
          <li *ngFor="let member of userGroups">
            <nz-avatar [nzSrc]="member.profilePictureUrl" nzSize="small" class="me-2"></nz-avatar>
            {{ member.fullName }}
          </li>
        </ul>

      </div>
    </div>

  </div>
  <app-video-call *ngIf="isVideoCallVisible"></app-video-call>
  <!-- <app-add-group></app-add-group> -->