<div class="d-flex" style="height: 80vh">
    <div class="chat-box h-100 col-8 flex-column d-flex"
        [ngClass]="{ 'col-8' : isVisible, 'col-12' : !isVisible}">
      <!-- Chat Header -->
      <div class="chat-header p-3 d-flex justify-content-between align-items-center shadow-sm">
        @if(selectedUser){
          <div>
            <nz-avatar [nzSrc]="selectedUser.profilePictureUrl" nzSize="large" class="me-2"></nz-avatar>
            {{ selectedUser.fullName }}
          </div>
        }@else if (selectedGroup) {
          <div>
            <nz-avatar [nzSrc]="selectedGroup.avatarUrl" nzSize="large" class="me-2"></nz-avatar>

            {{ selectedGroup.name }}
          </div>
        }@else {
          <div class="text-muted">
            <p>Please select a user to start chatting.</p>
          </div>
        }
        <div>  
          <button nz-button nzType="default" nzShape="circle" (click)="toggleSearch()">
            <i nz-icon nzType="search"></i>
          </button>
          <button nz-button nzType="default" nzShape="circle" (click)="toggleChatDetail()">
            <i nz-icon nzType="unordered-list"></i>
          </button>
         
        </div>
      </div>
      <input *ngIf="isSearching" type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchText" 
      (ngModelChange)="onSearchChange()" #searchBox (blur)="hideSearch()" />
  
      <!-- Chat Messages -->
      <div class="chat-messages flex-grow-1 p-3 overflow-auto" #messageContainer (scroll)="onScroll()">
        
        <div *ngIf="messages.length === 0" class="text-center text-muted">
          <nz-icon nzType="message" nzTheme="outline" style="font-size: 24px;"></nz-icon>
          <p>No messages yet</p>
        </div>
        <div *ngFor="let message of messages" class="mb-3">
          <div [ngClass]="message.senderId === currentUser.id ? 'text-end from-me d-flex justify-content-end align-items-start' : 'text-start from-others d-flex justify-content-start align-items-start'">
            
            <!-- Three-dot menu -->
            <div class="message-menu" *ngIf="message.senderId === currentUser.id">
              <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click)="updateMessage(message)">Cập nhật tin nhắn</a>
                  <a class="dropdown-item" (click)="deleteMessage(message.id)">Thu hồi tin nhắn</a>
                </li>
              </ul>
            </div>
        
            <!-- Tin nhắn -->
            <div class="message-wrapper bg-light rounded-3 p-2 d-inline-block max-w-75 position-relative">
              <div class="text" *ngIf="message.content">{{ message.content }}</div>
              <div class="file-content" *ngFor="let file of message.files">
                <img *ngIf="isImage(file)" [src]="file.url" class="message-media" />
                <video *ngIf="isVideo(file)" [src]="file.url" controls class="message-media"></video>
                <audio *ngIf="isAudio(file)" [src]="file.url" controls class="message-media"></audio>
              </div>
            </div>
          </div>
        </div>
        
      </div>


  
      <!-- Chat Input -->
       
      <div class="image-container" *ngIf="selectedFiles.length > 0">
        <div *ngFor="let image of selectedFiles; let i = index" class="image-preview">
          <img [src]="image.src" alt="Image Preview" />
          <button class="close-button" (click)="removeImage(i)">X</button>
        </div>
        <div class="plus">
          <label for="fileInputPlus">
            <i nz-icon nzType="plus"></i>
            <input type="file" id="fileInputPlus" (change)="onFileSelected($event)" multiple style="display: none;" />
          </label>
        </div>
      </div>
      <div class="chat-input p-3 d-flex align-items-center border-top">
        
        <div *ngIf="isRecording" class="recording-indicator">
            <nz-spin nzSimple></nz-spin> Recording...
        </div>
    
        <div *ngIf="audioUrl">
            <audio [src]="audioUrl" controls></audio>
            <button nz-button nzType="danger" (click)="audioUrl = null">X</button>
        </div>
      </div>
      <div *ngIf="isEditing" class="text-warning">
          Đang chỉnh sửa tin nhắn...
          <button class="close-button" (click)="isEditing = false">X</button>

      </div>
      @if(isBlocked){
        <div class="text-center text-muted">
          <p>Bạn đã chặn người dùng này</p><button nz-button nzType="primary" (click)="unblockUser(selectedUser.id)">Bỏ chặn</button>
        </div>
      }@else{
        <div class="chat-input p-3 d-flex align-items-center border-top" *ngIf="selectedUser || selectedGroup">
          <div> 
            <button nz-button nzType="default" nzShape="circle" (mousedown)="startRecording()" (mouseup)="stopRecording()">
              <i nz-icon nzType="audio"></i>
            </button>
          </div>
         
          <div class="plus" nz-button nzType="default" nzShape="circle">
              <label for="fileInputPlus" >
                 
                  <i nz-icon nzType="picture"></i>
           
                <input type="file" id="fileInputPlus" (change)="onFileSelected($event)" multiple style="display: none;" />
              </label>
            </div>
            
          
          <input
            nz-input
            type="text"
            placeholder="Type a message..."
            [(ngModel)]="newMessage"
            class="form-control me-2"
            (keydown.enter)="sendMessage()"
          />
    
          <!-- Nút gửi tin nhắn -->
           
          <button nz-button nzType="primary" [disabled]="isEditing && newMessage === originalMessage" (click)="sendMessage()" class="ms-2">
            <i nz-icon nzType="send"></i>
          </button>
        </div>
      }
     
    </div>
  
    <!-- Chat Detail -->
    <div class="col-4 flex-column d-flex chat-detail"
      [ngClass]="{ 'd-none': !isVisible, 'col-4': isVisible }">
      <div class="text-center">
        <h3>Thông tin hội thoại</h3>
        <nz-avatar *ngIf="selectedUser" [nzSrc]="selectedUser?.profilePictureUrl" nzSize="large" class="mb-2"
          (click)="showUserProfile(selectedUser.id)">
        </nz-avatar>
        <h5>{{ selectedUser?.fullName }}</h5>
          <nz-avatar *ngIf="selectedGroup" [nzSrc]="selectedGroup?.avatarUrl" nzSize="large" class="mb-2"></nz-avatar>
      </div>
      <hr />
      <button *ngIf="selectedGroup" nz-button nzType="default" nzShape="circle" class="action-button" (click)="showAddMemberModal(selectedGroup.id)">
        <nz-modal [(nzVisible)]="addMemberVisible" nzTitle="Thêm thành viên " (nzOnCancel)="handleMemberCancel()"
         [nzFooter]="memberFooter">
          <ng-container *nzModalContent>
            <div class="">
                <div class="group-content">
                  <div class="group-search">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                      <input nz-input [(ngModel)]="searchMember" 
                        placeholder="Tìm kiếm" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                      <i nz-icon nzType="search"></i>
                    </ng-template>
                  </div>

                  <div class="">
                    <div class="">
                      <h4>Danh sách người dùng</h4>
                      <div *ngFor="let user of users" class="">
                        <label nz-checkbox 
                               [nzChecked]="user.isSelected" 
                               [nzDisabled]="user.isMember" 
                               (nzCheckedChange)="toggleUser(user, $event)">
                          
                          <img [src]="user.profilePictureUrl" class="rounded-circle me-3 user-avatar" alt="Avatar"
                               width="40" height="40" />
                          
                          <span class="user-name">{{ user.fullName }}</span>
                      
                          <!-- Hiển thị "Đã tham gia" nếu user đã ở trong nhóm -->
                          <span *ngIf="user.isMember" class="text-muted ms-2">(Đã tham gia)</span>
                        </label>
                      </div>
                      
                    </div>

                  </div>
                </div>

              
             
            </div>

          </ng-container>
        </nz-modal>
        <nz-icon nzType="usergroup-add" nzTheme="outline" />
      </button>
      <h6>Shared Files</h6>
      <ul>
        <li *ngFor="let file of selectedUser?.files">{{ file }}</li>
      </ul>
      <div *ngIf="selectedGroup" class="members-container">
        <h6>Members</h6>
        <li  *ngFor="let member of userGroups" class="member-item">
          <nz-avatar [nzSrc]="member.profilePictureUrl" nzSize="small"></nz-avatar>
          <span class="member-name">{{ member.fullName }}</span>
          <span class="member-role">({{ member.roleName }})</span>
          
          @if(currentUser.id != member.id && member.roleName == 'Member'){
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <nz-icon nzType="ellipsis" nzTheme="outline"></nz-icon>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click)="updateRole(member)">Đặt làm trưởng nhóm</a>
                  <a class="dropdown-item" (click)="removeMemberFromGroup(member.id)">Xóa khỏi nhóm</a>
                </li>
              </ul>
            </div>

          }
          
          
          
          
        </li>
     
      <div *ngIf="selectedGroup">
        <button class="btn btn-danger col-12" (click)="removeMemberFromGroup(currentUser.id)">Rời nhóm</button>
        <button class="btn btn-secondary col-12" (click)="deleteGroup()">Giải tán nhóm</button>
      </div>
    </div>  
    </div>
  </div>

  <nz-modal [nzVisible]="showInfoModal" nzTitle="Thông tin tài khoản" (nzOnCancel)="handleCancel()" [nzFooter]="customFooter">
    <ng-container *nzModalContent>
        <div class="profile-info">
          <div class="avatar-container">
            <img [src]="selectedUser?.profilePictureUrl" class="avatar" alt="Avatar" />
          </div>
          <h3 class="user-name">{{ selectedUser?.fullName }}</h3>
          <h2 class="user-name">{{selectedUser.email}}</h2>
        </div>
  
    </ng-container>
  </nz-modal>
  <ng-template #customFooter>
    <div class="col-12">
    <button class="btn btn-primary" (click)="isBlocked ? unblockUser(selectedUser.id) : blockUser(selectedUser.id)">
      {{btnFriendShipText}}
    </button>
    </div>
  </ng-template>
  <ng-template #memberFooter>
    <div class="col-12">
      <button nz-button class="btn btn-primary" type="button" (click)="addMember()">
        Thêm thành viên
      </button>
    </div>
  </ng-template>
  <ng-template #customFooter>
    <div class="col-12">
      <button nz-button class="btn btn-danger col-6" type="button" (click)="updateFriendShip(selectedUser.id)">
        {{getFriendShipStatus(selectedUser.id)}}
      </button>
      <button nz-button class="btn btn-success col-6" type="button" (click)="blockUser(selectedUser.id)">
        Chặn
      </button>
    </div>
  </ng-template>
  <!-- <app-add-group></app-add-group> -->