<div class="create-group">
    <form nz-form [formGroup]="groupForm">
      <div class="group-header">
        <button nz-button class="camera-btn">
          <label for="fileInput">
            <i nz-icon nzType="picture" nzTheme="outline"></i>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple style="display: none;" />
          </label>
        </button>
        <nz-input-group class="group-name border-bottom-only">
          <input nz-input formControlName="name" [(ngModel)]="value" placeholder="Nhập tên nhóm" />
        </nz-input-group>
      </div>
  
      <div class="group-content">
        <div class="group-search">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input nz-input [(ngModel)]="search" placeholder="Tìm kiếm" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>
  
        <div class="group-main">
          <div class="group-users">
            <h4>Danh sách người dùng</h4>
            <div *ngFor="let user of users" class="user-item">
              <label nz-checkbox [ngModel]="selectedUsers.includes(user)" (ngModelChange)="toggleUser(user, $event)">
                <img [src]="user.profilePictureUrl" class="rounded-circle me-3 user-avatar" alt="Avatar" width="40" height="40" />
                <span class="user-name">{{ user.fullName }}</span>
              </label>
            </div>
          </div>
  
          <div class="group-selected">
            <h4>Đã chọn</h4>
            <ul>
              <li *ngFor="let user of selectedUsers">
                <img [src]="user.profilePictureUrl" class="rounded-circle me-3 selected-avatar" alt="Avatar" width="25" height="25" />
                {{ user.fullName }}
                <i nz-icon nzType="close-circle" nzTheme="fill" class="remove-icon" (click)="toggleUser(user, false)"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <button nz-button class="create-btn" type="button" (click)="addGroup()">
        Tạo nhóm
      </button>
    </form>
  </div>